<div class="center">
  <h2>Match Details of Date {{ fixtures.date }} </h2>
</div>
<h4>
Referee: {{ fixtures.referee }} <br>
  Line man: {{ fixtures.linesman1 }} & {{ fixtures.linesman2 }}<br>
  Stadium: {{ fixtures.stadium }}  <br>
  Date: {{ fixtures.date }} Time: {{ fixtures.time }}
</h4>
<hr>
<div class="container">
  <h2>Team {{fixtures.team1}} </h2>

  Players: {{ fixtures.playersT1}} <br>
  Coach: {{ fixtures.managerT1}} <br>
</div>
<div class="container">
  <h2>Team {{fixtures.team2}}</h2>
  Players: {{ fixtures.playersT2}} <br>
  Coach: {{ fixtures.managerT2}} <br>
</div>
